.teacher {
  flex: 4;
  padding: 20px;
}

.teacherTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teacherAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: #a46fe0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.teacherAddButton:hover {
  background-color: #8e5ccf;
}

.teacherContainer {
  display: flex;
  margin-top: 20px;
}

.teacherShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px #000000;
  box-shadow: 0px 0px 15px -10px #000000;
}

.teacherUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px #000000;
  box-shadow: 0px 0px 15px -10px #000000;
  margin-left: 20px;
}

.teacherShowTop {
  display: flex;
  align-items: center;
}

.teacherShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.teacherShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.teacherShowName {
  font-weight: 600;
}

.teacherShowAge {
  font-weight: 300;
}

.teacherShowBottom {
  margin-top: 20px;
}

.teacherShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: #a46fe0;
}

.teacherShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #444;
}

.teacherShowIcon {
  font-size: 16px !important;
}

.teacherShowInfoTitle {
  margin-left: 10px;
}

.teacherUpdateTitle {
  font-style: 24px;
  font-weight: 600;
}

.teacherUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.teacherUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.teacherUpdateItem > label {
  margin-bottom: 5px;
  font-style: 14px;
}

.teacherUpdateInput {
  border: none;
  width: 250px;
  border-bottom: 1px solid gray;
}

.teacherUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teacherUpdateUpload {
  display: flex;
  align-items: center;
}

.teacherUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.teacherUpdateIcon {
  cursor: pointer;
}

.teacherUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(90, 93, 241);
  color: white;
  transition: all 0.3s ease;
}

.teacherUpdateButton:hover {
  background-color: rgb(70, 73, 221);
}
