.studentListContainer {
  flex: 4;
  height: 600px;
}

.studentListUp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.studentAddBtn {
  width: 150px;
  border: none;
  padding: 5px;
  background-color: #a46fe0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  margin-top: 20px;
  margin-left: 20px;
}

.studentAddButton:hover {
  background-color: #8e5ccf;
}


.studentList {
  display: flex;
  align-items: center;
}

.studentListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.studentListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #617fe2;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.5s ease-out;
}

.studentListEdit:hover {
  background-color: #2f54cf;
}

.studentListDelete {
  color: red;
  cursor: pointer;
}
