.teacherListContainer {
  flex: 4;
}

.teacherList {
  display: flex;
  align-items: center;
}

.teacherListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.teacherListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #617fe2;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.5s ease-out;
}

.teacherListEdit:hover {
  background-color: #2f54cf;
}

.teacherListDelete {
  color: red;
  cursor: pointer;
}
